<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\WebAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
    <connectionStrings>
        <add connectionString="Server=.;Database=EmployeeDB;Integrated Security=true" name="EmployeeDB" />
    </connectionStrings>
</configuration>
<!--ProjectGuid: 4b163864-3570-4d01-ad9d-74e27f895cce-->